body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.game-box {
  width:400px;
  background:#1e293b;
  padding:20px;
  border-radius:12px;
}

button {
  margin:8px;
  padding:10px;
  background:#38bdf8;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
